<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Ad loading ke liye internet chahiye -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Google Advertising ID ke liye (Android 13+ par zaroori) -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ADMOB_APPLICATION_ID}" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:theme="@style/AdTheme"
            tools:replace="android:theme" />

    </application>



</manifest>